.idea/
.run/
*.iml

backend/target/
backend/src/main/resources/application-local.yml
backend/src/main/resources/application-local.local-backup.yml

frontend/node_modules/
frontend/dist/

node_modules/
npm-debug.log*

.logs/
*.log

.local-tools/
